@using LexiconLMS.App.Client.Services;
@using LexiconLMS.Shared.Entities;
@inject LMSClient lsmClient;

<CardTemplate Items="pets" Context="pet">
    <TableHeader>Test</TableHeader>
    <RowTemplate Context="pet">
        <td>@pet.PetId</td>
        <td>@pet.Name</td>
    </RowTemplate>
</CardTemplate>

@code {
    private IEnumerable<Course> Courses { get; set; } = new List<Course>();
    private List<Pet> pets = new()
    {
        new Pet { PetId = 2, Name = "Mr. Bigglesworth" },
        new Pet { PetId = 4, Name = "Salem Saberhagen" },
        new Pet { PetId = 7, Name = "K-9" }
    };

    private class Pet
    {
        public int PetId { get; set; }
        public string? Name { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        Courses = await lsmClient.GetAsync();
    }
}
