@using LexiconLMS.App.Client.DTOs;
<div class="container-fluid border rounded p-0 mb-4 m-0">
    <h4 class="border-bottom p-4">@title</h4>
    <div class="row p-4">
        <div class="col-2">
            <ul class="list-unstyled">
                <li><a href="...">Link</a></li>
                <li><a href="...">Link</a></li>
                <li><a href="...">Link</a></li>
                <li><a href="...">Link</a></li>
                <li><a href="...">Link</a></li>
                <li><a href="...">Link</a></li>
            </ul>
        </div>
        <div class="col">
            @foreach (var item in itemlist)
            {
                <CardModule item="item" Shadow="true"></CardModule>
                    
            }
        </div>

    </div>
</div>


@code {
    [Parameter]
    public string title { get; set; } = string.Empty;



    public List<ActivityDto> itemlist = new(){
                new ActivityDto(){ Id=1, Title="Dignissim", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."},
                new ActivityDto(){ Id=2,Title="Suspendisse", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."},
                new ActivityDto(){ Id=3,Title="Mauris", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."},
                new ActivityDto(){ Id=4,Title="Risus", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."},
                new ActivityDto(){ Id=5,Title="Viverra", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."},
                new ActivityDto(){ Id=6,Title="Ultrices", Description="Convallis aenean et tortor at risus viverra adipiscing at in. Felis eget velit aliquet sagittis id consectetur purus ut. Ultrices vitae auctor eu augue ut. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Egestas maecenas pharetra convallis posuere morbi. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis at erat pellentesque adipiscing commodo. Viverra nam libero justo laoreet sit amet cursus. Dui sapien eget mi proin sed libero enim sed. Risus nullam eget felis eget nunc lobortis mattis aliquam. Est ultricies integer quis auctor elit sed vulputate mi. Feugiat vivamus at augue eget. Malesuada fames ac turpis egestas sed. Et malesuada fames ac turpis egestas. Egestas maecenas pharetra convallis posuere. Purus in mollis nunc sed id semper. Eget nunc scelerisque viverra mauris in. Sit amet facilisis magna etiam tempor orci eu."}
    };
}
