@using Microsoft.AspNetCore.Authorization;

@page "/"
@*@attribute [Authorize]*@

<PageTitle>Index</PageTitle>

<h1 class="text-end text-muted">.Net Core 2022-2023</h1>

<CardGroupModules title="Your Modules" cols="4"></CardGroupModules>
<CardGroupActivities title="Your Activities"></CardGroupActivities>
<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <Test></Test>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in...</p>
    </NotAuthorized>
</AuthorizeView>
