@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-end text-muted">.Net Core 2022-2023</h1>

<CardGroupModules title="Your Modules" cols="4"></CardGroupModules>
<CardGroupActivities title="Your Activities"></CardGroupActivities>
<SurveyPrompt Title="How is Blazor working for you?" />

<Test></Test>