@page "/people"

<PageTitle>People</PageTitle>
<h1 class="text-end text-muted">.Net Core 2022-2023</h1>
<CardGroupPeople title="Teachers" cols="4"></CardGroupPeople>
<CardGroupPeople title="Students" cols="6"></CardGroupPeople>

